In [10]:
import pandas as pd
from PIL import Image, ImageDraw
import cv2

In [2]:
df = pd.read_csv("data/train/_annotations.csv", header=None)

In [3]:
df.head()

,0,1,2,3,4,5
0,ck0knam319ybv0701clozevt3_jpeg.rf.01d252cb506d...,482,296,525,320,smoke
1,ck0qd8gs6ko7j0721x25cv4o3_jpeg.rf.005f5707706e...,125,190,177,286,smoke
2,ck0t40rhdz68s0a46ekx049a6_jpeg.rf.00403179fe5f...,326,207,494,249,smoke
3,ck0m0f8x4hwsq0838adn9hkti_jpeg.rf.02c20dbd46ef...,224,200,302,238,smoke
4,ck0na7jmkg9gj0a46p7jofg58_jpeg.rf.023825dac5dc...,96,222,238,270,smoke

In [4]:
df[5].unique()

array(['smoke'], dtype=object)

column 5 contains only one unque value, so we can drop it

In [5]:
df.drop([5], axis=1, inplace=True)

In [40]:
def draw_random():
    row = df.sample().values[0]
    img = Image.open("data/train/" + row[0], mode='r')
#     img = img.convert('RGB') # to grayscale
    draw = ImageDraw.Draw(img)
    coords = [row[1], row[2], row[3], row[4]]
    draw.rectangle(coords, outline=(255, 0, 0), width=2)
    img.show()

In [41]:
draw_random()